
#table_task2{
    width: 100%;
    background-color: aquamarine;  
}
tr {
    height: 30px;
}

th {
    text-align: center;
    font-weight: bold;
    border-style: solid;
    border-radius: 10px;
}

.task2_td {
    border-style: solid;
    border-radius: 10px;  
}

#task7_form {
    
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}
.primary{
    border-style: solid;
    width: 70%;
    padding: 15px;
    margin-top: 10px;
    margin-left: 15%;
    border-radius: 5px;
}
.list{
    
    list-style-type:none;
    text-decoration: none;
}
.nav-sec{
    background-color: aquamarine;

}
.nav-pri{
    background-color: rgb(215, 134, 12);
}

